{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Welcome, {{ user.username }}!</h5>
                <h6>Role: <span class="badge bg-light">{{ user.role }}</span></h6>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Quick Actions</h5>
                <a href="{{ url_for('products') }}" class="btn btn-outline-primary w-100 mb-2">View Products</a>
                <a href="{{ url_for('profile') }}?id={{ user.user_id }}" class="btn btn-outline-secondary w-100">My Profile</a>
                <a href="{{ url_for('orders') }}" class="btn btn-outline-info w-100">My Orders</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
